# Dependencies
node_modules/

# Expo
.expo/
dist/
expo-env.d.ts

# Native builds
ios/
android/

# Environment variables
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Metro
.metro-health-check*
